/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.ball {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 10px;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: relative;
    z-index: 1;
}

.ball::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
    z-index: -1;
}

.ball1 {
    animation-name: bounce1;
    animation-delay: 0s;
}

.ball2 {
    animation-name: bounce2;
    animation-delay: 0.2s;
}

.ball3 {
    animation-name: bounce3;
    animation-delay: 0.4s;
}

@keyframes bounce1 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes bounce2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes bounce3 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
