/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Black with opacity 0.1 */
    z-index: 999; /* Place the overlay above other content */
}

/* Loading container styles */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    /* Add your loading animation styles here */
}


.ball {
    width: 20px;
    height: 20px;
    background-color: #ffffff; /* White balls */
    border-radius: 50%;
    margin: 0 10px;
    animation-duration: 1s; /* Adjust the animation duration */
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: relative; /* Added to allow z-index */
    z-index: 1; /* Ensure balls are above the background */
}

.ball::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border-radius: inherit;
    z-index: -1; /* Place the background behind the balls */
}

.ball1 {
    animation-name: bounce1;
    animation-delay: 0s;
}

.ball2 {
    animation-name: bounce2;
    animation-delay: 0.2s; /* Delay the animation by 0.2 seconds */
}

.ball3 {
    animation-name: bounce3;
    animation-delay: 0.4s; /* Delay the animation by 0.4 seconds */
}

@keyframes bounce1 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust the bounce height */
    }
}

@keyframes bounce2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes bounce3 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
